@use "global" as *;
.box2 {
  display: block;
  margin: 0 auto;
  min-width: rem(375);
  width: 100%;
  height: rem(100);
  background-color: #333;

  @include mq(md) {
    max-width: rem(768);
    width: 100%;
    height: rem(200);
  }
  @include mq(xl) {
  }
}
